*{
    margin: 0%;
    padding: 0%;
}

body{
     display: grid;
     grid-template-areas: 
     "header"
     "main"
     "footer"
     ;
     grid-template-rows: 1FR 2fr 100px;
     grid-template-columns:1fr; 
     height: fit-content;
     width: fit-content;
}








